.banner {
  margin: 0 15px;
  border-radius: 12px;

  .bannerItem {
    overflow: hidden;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .progress {
      --progress: 0;
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;

      width: calc((1% * var(--progress)));
      height: 10px;

      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 4px;
}

.dot {
  border-radius: 10px;
  width: 6px;
  height: 6px;
  background-color: #c0c0c0;
  transition: 0.2s;
}

.activeDot {
  background-color: var(--blue-color);
  width: 14px;
}
