.skeleton_sizes {
  span {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    gap: 3px;
  }
  overflow: hidden;
  width: 200vw;
  padding-left: 10px;
}
.skeleton_itemsRow {
  display: flex;
  gap: 3px;
}
.skeleton_properties {
  span {
     display: flex;
    justify-content: space-between;
    column-gap: 4px;
    padding-inline: 15px;
    margin-top: 8px;
  }
 
}
.skeleton_description {
  margin-top: 3px;
  line-height: 22px;
}
.skeleton_button {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 101px;
  z-index: 100;
  font-size: 17px;
  line-height: 26px;
  margin-inline: 15px;
  height: 50px;
}
